{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> info@villa.ru</li>
            <li><i class="fa fa-map"></i> Москва, Россия</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://x.com/minthu" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <span class="category">Москва, <em>Россия</em></span>
          <h2>Спешите!<br>Найдите лучшую недвижимость для себя</h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category">Санкт-Петербург, <em>Россия</em></span>
          <h2>Будьте быстрыми!<br>Получите лучшую недвижимость в городе</h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category">Сочи, <em>Россия</em></span>
          <h2>Действуйте сейчас!<br>Получите недвижимость высшего уровня</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image">
            <img src="{% static 'assets/images/featured.jpg' %}" alt="">
            <a href="{% url 'villa_list' %}"><img src="{% static 'assets/images/featured-icon.png' %}" alt="" style="max-width: 60px; padding: 0px;"></a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-heading">
            <h6>| Избранное</h6>
            <h2>Лучшие апартаменты с видом на море</h2>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Лучшие полезные ссылки?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Получите <strong>лучший шаблон сайта недвижимости</strong> в HTML CSS и Bootstrap для вашего бизнеса. TemplateMo предоставляет вам <a href="https://www.google.com/search?q=best+free+css+templates" target="_blank">лучшие бесплатные CSS шаблоны</a> в мире. Пожалуйста, расскажите своим друзьям об этом.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Как это работает?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Почему Villa Agency лучшая?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-table">
            <ul>
              <li>
                <img src="{% static 'assets/images/info-icon-01.png' %}" alt="" style="max-width: 52px;">
                <h4>250 м²<br><span>Общая площадь</span></h4>
              </li>
              <li>
                <img src="{% static 'assets/images/info-icon-02.png' %}" alt="" style="max-width: 52px;">
                <h4>Договор<br><span>Готов к подписанию</span></h4>
              </li>
              <li>
                <img src="{% static 'assets/images/info-icon-03.png' %}" alt="" style="max-width: 52px;">
                <h4>Оплата<br><span>Процесс оплаты</span></h4>
              </li>
              <li>
                <img src="{% static 'assets/images/info-icon-04.png' %}" alt="" style="max-width: 52px;">
                <h4>Безопасность<br><span>24/7 Под контролем</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Видео обзор</h6>
            <h2>Получите ближайший вид и другое ощущение</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="{% static 'assets/images/video-frame.jpg' %}" alt="">
            <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="34" data-speed="1000"></h2>
                   <p class="count-text ">Зданий<br>Завершено сейчас</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="12" data-speed="1000"></h2>
                  <p class="count-text ">Лет<br>Опыта</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2>
                  <p class="count-text ">Наград<br>Получено в 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section best-deal">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-heading">
            <h6>| Лучшие предложения</h6>
            <h2>Найдите свое лучшее предложение прямо сейчас!</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Квартиры</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Виллы</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Пентхаусы</button>
                  </li>
                </ul>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Общая площадь <span>185 м²</span></li>
                          <li>Этаж <span>26-й</span></li>
                          <li>Количество комнат <span>4</span></li>
                          <li>Парковка <span>Да</span></li>
                          <li>Процесс оплаты <span>Банк</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="{% static 'assets/images/deal-01.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Дополнительная информация о недвижимости</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. 
                      <br><br>Когда вам нужны бесплатные CSS шаблоны, вы можете просто напечатать TemplateMo в любой поисковой системе. Кроме того, вы можете напечатать TemplateMo Portfolio, TemplateMo One Page Layouts и т.д.</p>
                      <div class="icon-button">
                        <a href="{% url 'villa_list' %}"><i class="fa fa-calendar"></i> Посмотреть недвижимость</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Общая площадь <span>250 м²</span></li>
                          <li>Этаж <span>26-й</span></li>
                          <li>Количество комнат <span>5</span></li>
                          <li>Парковка <span>Да</span></li>
                          <li>Процесс оплаты <span>Банк</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="{% static 'assets/images/deal-02.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Подробная информация о вилле</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                      <div class="icon-button">
                        <a href="{% url 'villa_list' %}"><i class="fa fa-calendar"></i> Посмотреть недвижимость</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Общая площадь <span>320 м²</span></li>
                          <li>Этаж <span>34-й</span></li>
                          <li>Количество комнат <span>6</span></li>
                          <li>Парковка <span>Да</span></li>
                          <li>Процесс оплаты <span>Банк</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="{% static 'assets/images/deal-03.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Дополнительная информация о пентхаусе</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                      <div class="icon-button">
                        <a href="{% url 'villa_list' %}"><i class="fa fa-calendar"></i> Посмотреть недвижимость</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Недвижимость</h6>
            <h2>Мы предоставляем лучшую недвижимость, которая вам понравится</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for villa in villas %}
          <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="{% url 'villa_detail' villa.id %}"><img src="{{ villa.image.url}}" alt="" style="max-height: 300px; object-fit: cover; width: 100%;"></a>
            <span class="category">{{ villa.category }}</span>
            <h6>${{ villa.price }}</h6>
            <h4><a href="{% url 'villa_detail' villa.id %}">{{ villa.address}}, {{ villa.region}} {{villa.zip_code}}</a></h4>
            <ul>
              <li>Спальни: <span>{{ villa.bedroom}}</span></li>
              <li>Ванные: <span>{{ villa.bathroom}}</span></li>
              <li>Площадь: <span>{{ villa.area }}м²</span></li>
              <li>Этаж: <span>{{ villa.floor_number }}</span></li>
              <li>Парковка: <span>{{ villa.parking_space_capacity}}</span></li>
            </ul>
            <div class="main-button">
              <a href="{% url 'villa_detail' villa.id %}">Подробнее</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="main-button text-center">
            <a href="{% url 'villa_list' %}">Посмотреть всю недвижимость</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Свяжитесь с нами</h6>
            <h2>Свяжитесь с нашими агентами</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.025584602988!2d74.61569027663303!3d42.83007337115317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7000c5a29e3%3A0x61a5d35d76e6095d!2sCodify%20Academy!5e0!3m2!1sru!2skg!4v1714383077246!5m2!1sru!2skg" width="100%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="item phone">
                <img src="{% static 'assets/images/phone-icon.png' %}" alt="" style="max-width: 52px;">
                <h6>+7 (495) 123-45-67<br><span>Номер телефона</span></h6>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item email">
                <img src="{% static 'assets/images/email-icon.png' %}" alt="" style="max-width: 52px;">
                <h6>info@villa.ru<br><span>Рабочая почта</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <form id="contact-form" action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <label for="name">Полное имя</label>
                  <input type="name" name="name" id="name" placeholder="Ваше имя..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="email">Email адрес</label>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Ваш E-mail..." required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="subject">Тема</label>
                  <input type="subject" name="subject" id="subject" placeholder="Тема..." autocomplete="on" >
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="message">Сообщение</label>
                  <textarea name="message" id="message" placeholder="Ваше сообщение"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Отправить сообщение</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
